

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid #0dba03;

  background-color: rgba(48, 44, 120, 0.538);
};

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;
  color: #0dba03;
};

progressbar {
  border-radius: 0;
}

progress {
  background-color: #0dba03;
}
