*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig
biome
pkg/
src/
.cortex-debug
.bash_history
.bash_logout
.bash_profile
.cache/
.claude/
.claude_cache/
.console-ninja/
.cursor/
.dotnet/
.gnupg/
.icons/
.idea/
.codeium/
.histfile
get-pip.py
go/
.local/
managed_context/
.npm/
.pki/
.ssh/
Pictures/
projects/
.oh-my-zsh/
.profile 
.qodo/
.vscode/
.quokka/
.sonarlint/
test_suite_analysis/
.vscode-oss/
.wakatime/
.wakatime.cfg
.wallaby/
.wget-hsts
.windsurf/
.zcompdump-archlinux-*
*.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
.histfile
.config/0ad/*
.config/baloofileinformationrc
.config/Code/
.config/Code - Insiders/
.config/Code - OSS/
.config/Cursor/*
.config/github-copilot/*
.config/kdeglobals
.config/kiorac
.config/kservicemenurc
.config/ktrashrc
.config/managed_context/*
.config/mozilla/*
.config/obsidian/*
.config/omarchy/*
.config/session/*
.config/test_suite_analysis/*
.config/Windsurf/*
.config/yay/*

.wakatime.cfg

.cargo/*

Downloads/